body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: black;
    color: rgb(88, 88, 88);
    font-family: Times;
}

header h1 {
    position: 10.10; 
}

#featured-image img {
    width: 100%; /* Faz a imagem grande se ajustar ao largura do visor */
    height: auto; /* Mantém a proporção da imagem */
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    padding: 10px;
}

.gallery-image {
    width: 100%;
    height: auto;
    transition: transform 0.7s ease;
}

.gallery-image:hover {
    transform: scale(1.07); /* Efeito de zoom ao passar o mouse */
}
